.about {
  padding-bottom: 0;
  &__list {
    display: flex;
  }
  &__item {
    width: calc((100%-30px) / 4);
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.about-card {
  padding: 25px 102px;
  background: var(--fourth-background-color);
  border-radius: 4px;

  margin-bottom: 30px;
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--first-text-color);

    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
}
